body{
    color: white;
}
.potta-one-regular {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.titulo{
    text-align: center;
    font-family: "Potta One", system-ui;
}
.fa-solid{
    cursor: pointer;
}
.green-icon{
    color: #198754;
}
.red-icon{
    color: #dc3545;
}